<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Branches Sign Up</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"           
  rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <title>Branches Sign Up</title>
</head>

<body>

<%- include('partials/headerSignUp') %>

  <section class="container formMobile">
    <h2 class="alignCenter header">Sign Up</h2>
    <form action="/signup" method="post" class='signUpForm'>
      <label for="First Name">First Name</label>
      <input type="text" name="firstName">
      <label for="Last Name">Last Name</label>
      <input type="text" name="lastName">
      <label for="Email Address">Email Address</label>
      <input type="email" name="email">
      <label for="Username">Username</label>
      <input type="text" name="username">
      <label for="Password">Password</label>
      <input type="password" name="password">
      <button type="submit" class='primary-black-btn'>Sign Up</button>
    </form>
    <button class="secondary-white-btn signUpButton" onclick="location.href='/';">Back to Login</button>
  </section>
  
<%- include('partials/footer') %>

</body>

</html>

