<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">                            
    <title>Branches Sign Up</title>
</head>
<body>
    <section>
        <h2>Sign Up</h2>
        <form action="/signup" method="post">
            <label for="First Name" >First Name</label>
            <input type="text" name="firstName">
            <label for="Last Name">Last Name</label>
            <input type="text" name="lastName">
            <label for="Email Address" >Email Address</label>
            <input type="email" name="emailAddress">
            <label for="Username">Username</label>
            <input type="text" name="Username">
            <label for="Password">Password</label>
            <input type="password" name="password">
            <button type="submit">Sign Up</button>
        </form>
        <button><a href="index.ejs">Back to Login</a></button>
    </section>
    <%- include('partials/header') %>
</body>
</html>